@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Tektur', cursive;
}

body {
    background-color: #081448;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* NAVBAR */
.navbar {
    width: 5rem;
    height: 100vh;
    font-size: 2rem;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar p {
    padding: 50px 0;
}

.navlist {
    list-style-type: none;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.navlist a {
    width: 100%;
    display: block;
    padding: 1.5rem 0;
}

.navitem {
    width: 100%;
    cursor: pointer;
}

.container {
    margin-left: 5rem;
    transition: 0.3s;
    position: relative;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

/* POPUP */
.container#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup {
    width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 10;
    padding: 3rem;
    line-height: 2;
    font-size: 1.1rem;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#popup.active {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

#popup h2 {
    text-align: center;
    font-size: 2rem;
}

/* SCOREBOARD */
#score {
    width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 10;
    padding: 2.5rem;
    line-height: 2;
    font-size: 1.1rem;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#score.active {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

#score h2 {
    font-size: 2rem;
}

#score p {
    font-size: 3rem;
}

#score li {
    font-size: 1.5rem;
}

/* HEROBANNER */
.banner {
    height: 100vh;
    font-size: 5rem;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.banner h1 {
    cursor: default;
}

.banner a {
    text-decoration: none;
    color: white;
    padding: 2rem 4rem;
    border: 5px solid;
    border-radius: 80px;
}

.banner a:hover {}

.play {
    animation: play 1.5s infinite;
}

@keyframes play {
    0% {
        margin-left: 0px;
    }

    50% {
        margin-left: 10px;
    }

    100% {
        margin-left: 0px;
    }
}

/* GAME */
#game-board {
    height: 100vh;
}

.game {
    /*height: 100vh;*/
    max-width: 70%;
    margin: auto;
    text-align: center;
    perspective: 1000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card {
    max-width: calc(16% - 15px);
    position: relative;
    background-color: red;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border: 1px solid black;
    border-radius: 5px;
}

.card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.back,
.front {
    width: 100%;
    backface-visibility: hidden;
}

.back {
    position: absolute;
}

.front {
    transform: rotateY(180deg);
}

.card.flip {
    transform: rotateY(180deg);
}

/* Difficulty */
.level-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.level-text {
    font-size: 3rem;
}

.diff {
    background-color: rgb(105, 177, 24);
    width: 200px;
    height: 300px;
    padding: 0.8rem 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    border-radius: 10px;
    background-position: 50% 70%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.easy {
    transform: rotate(-3deg);
    background-image: url(../img/monkey.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.easy:hover {
    transform: scale(1.2) rotate(-3deg);
}

.medium {
    transform: translateY(-7px);
    background-image: url(../img/astronaut2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.medium:hover {
    transform: scale(1.2) translateY(-7px);
}

.hard {
    transform: rotate(3deg);
    background-image: url(../img/alien.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.hard:hover {
    transform: scale(1.2) rotate(3deg);
}

.game-container {
    position: relative;
}

/* TIMER */
.timer {
    z-index: 10;
    font-size: 3.5rem;
    background-color: green;
    padding: 0 1.5rem;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}